# dependencies added by go mod
go.mod
go.sum

# environment variables
.env

# Visual Studio Code files
.vscode
__debug_bin

# SonarQube static analysis
.scannerwork
# go test ./... -coverprofile=.coverage.out
.coverage.out
