# dependencies added by dep
vendor/

# environment variables
.env

# Visual Studio Code files
.vscode
__debug_bin

# SonarQube static analysis
.scannerwork
.coverage.out # go test ./... -coverprofile=.coverage.out
