{{define "friends"}}
<script defer src="/js/admin-form-inputs/friends.js"></script>
<script defer src="/js/admin-form-inputs/admin-form-item.js"></script>
<fieldset>
    <legend>Friends</legend>
    <template id="friend-template">
        <div class="form-group" id="friend-0">
            <label class="friend-name-label form-label" for="friend-0-name">?</label>
            <input class="friend-name-input form-control" id="friend-0-name" name="friend-0-name" required>
            <input class="friend-display-order admin-form-item-display-order" name="friend-0-display-order" value="?" type="hidden">
            <input class="friend-id" value="0" type="hidden">
            <button class="btn btn-light" type="button" title="Move Up" onclick="adminFormItem.moveUp(event)">▲</button>
            <button class="btn btn-light" type="button" title="Move Down" onclick="adminFormItem.moveDown(event)">▼</button>
            <button class="btn btn-danger" type="button" title="Remove" onclick="adminFormItem.remove(event)">×</button>
        </div>
    </template>
    <div id="friends">
        {{range $index, $friendScore := .Data -}}
        <div>
            <div class="id">{{$friendScore.ID}}</div>
            <div class="name">{{$friendScore.Name}}</div>
            <div class="displayOrder">{{$index}}</div>
        </div>
        {{end -}}
    </div>
</fieldset>
<div class="form-group">
    <button class="btn btn-secondary" type="button" title="Add Friend" onclick="friendsForm.add()">Add Friend</button>
</div>
{{end}}