{{define "players"}}
<script defer src="/js/admin-form-inputs/players.js"></script>
<fieldset>
    <legend>Players</legend>
    <div class="form-group">
        <label for="select-player-type">Player Type</label>
        <select id="select-player-type" class="form-control" onchange="refreshVisiblePlayers()">
            {{range .Data -}}
            <option value="{{.PlayerType}}">{{.Name}}</option>
            {{end -}}
        </select>
    </div>
    <div class="form-group">
        <label for="select-friend">Friend</label>
        <select id="select-friend" class="form-control" onchange="playersForm.refreshVisiblePlayers()">
            {{range (index .Data 0).FriendScores -}}
            <option value="{{.ID}}">{{.Name}}</option>
            {{end -}}
        </select>
    </div>
    <template id="player-template">
        <div class="form-group" id="player-0">
            <label class="player-name-label form-label">?</label>
            <input class="player-source-id" name="player-0-source-id" value="?" type="hidden" required>
            <input class="player-display-order" name="player-0-display-order" value="?" type="hidden">
            <input class="player-player-type" name="player-0-player-type" value="?" type="hidden">
            <input class="player-friend-id" name="player-0-friend-id" value="?" type="hidden">
            <input class="player-id" value="0" type="hidden">
            <button class="btn btn-light" type="button" title="Move Up" onclick="playersForm.movePlayerUp()">▲</button>
            <button class="btn btn-light" type="button" title="Move Down" onclick="playersForm.movePlayerDown()">▼</button>
            <button class="btn btn-danger" type="button" title="Remove" onclick="playersForm.removePlayer()">×</button>
        </div>
    </template>
    <div id="players">
        {{range $scoreCategory := .Data -}}
        <div class="score-category player-type-{{.PlayerType}}">
            {{range $friendScore := $scoreCategory.FriendScores -}}
            <div class="friend-score friend-id-{{.ID}}">
                {{range $index, $playerScore := $friendScore.PlayerScores -}}
                <div>
                    <div class="id">{{$playerScore.ID}}</div>
                    <div class="playerName">{{$playerScore.Name}}</div>
                    <div class="sourceID">{{$playerScore.SourceID}}</div>
                    <div class="displayOrder">{{$index}}</div>
                    <div class="playerType">{{$scoreCategory.PlayerType}}</div>
                    <div class="friendID">{{$friendScore.ID}}</div>
                </div>
                {{end -}}
            </div>
            {{end -}}
        </div>
        {{end -}}
    </div>
</fieldset>
<div class="form-group">
    <button class="btn btn-secondary" type="button" data-toggle="modal" data-target="#addPlayerModal"
        onclick="playerSearch.initPlayerSearch()">
        <span>Add Player...</span>
    </button>
</div>
{{end}}