{{ if (eq .Action "players") -}}
{{ template "player-search.html" . }}
{{ end -}}
<form id="{{.Action}}-form" onsubmit="adminTab.submit(event)" data-action="{{.Action}}">
    {{ if (eq .Action "players") -}}
    {{ template "players.html" . }}
    {{- else if (eq .Action "friends") }}
    {{ template "friends.html" . }}
    {{- else if (eq .Action "years") -}}
    {{ template "years.html" . }}
    {{- else if (eq .Action "cache") -}}
    {{ template "cache.html" . }}
    {{- else if (ne .Action "password") -}}
    <p class="bg-danger d-inline">Unknown Action: {{.Action}}</p>
    {{ end }}
    {{ if .Data -}}
    <div class="form-group">
        <p class="bg-warning d-inline my-3">Removing {{.Action}} will delete them permanently on submit.</p>
    </div>
    {{ end -}}
    <div class="form-group">
        <label class="form-label" for="{{.Action}}-username">Username</label>
        <input class="form-control" id="{{.Action}}-username" name="username" type="text" autocomplete="username"
            required>
    </div>
    <div class="form-group">
        <label class="form-label" for="{{.Action}}-password">Password</label>
        <input class="form-control" id="{{.Action}}-password" name="password" type="password"
            autocomplete="current-password" required>
    </div>
    {{ if (eq .Action "password") -}}
    {{ template "password.html" . }}
    {{ end -}}
    <div class="form-group">
        {{ if .Data -}}
        <p class="template-support-check bg-danger"></p>
        {{ end -}}
        <p id="{{.Action}}-info">Enter password before submitting.</p>
        <input name="action" type="hidden" value="{{.Action}}">
        <button class="btn btn-primary" form="{{.Action}}-form" id="{{.Action}}-form-submit-button"
            value="submit">Submit</button>
    </div>
</form>
<script>
    {{ template "js/admin/tab.js" }}
</script>