<fieldset>
    <legend>Years</legend>
    <template id="year-template">
        <div class="form-group row" id="year-0">
            <input class="year-radio form-input align-items-center" type="radio" name="year-active" id="year-0-active">
            <label class="year-label form-label col" for="year-0-active">?</label>
            <input class="year-input" type="hidden" name="year" value="?">
            <button class="btn btn-danger align-items-center" type="button" title="Remove" onclick="yearsForm.removeYear(event)">×</button>
        </div>
    </template>
    <div id="year-form-items" class="container">
        {{ range .Data -}}
        <div>
            <div class="value">{{.Value}}</div>
            <div class="active">{{.Active}}</div>
        </div>
        {{ end -}}
    </div>
</fieldset>
<div class="form-group">
    <input class="form-control-inline mr-3" id="add-year-input" type="number" min="2000" max="3000" , step="1">
    <button class="btn btn-secondary" type="button" title="Add Year" onclick="yearsForm.addYear()">Add Year</button>
</div>
<script>
    {{ template "js/admin/years.js" }}
</script>