{{define "friends"}}
<fieldset>
    <legend>Friends</legend>
    <template id="friend-template">
        <div class="form-group" id="friend-0">
            <label class="friend-name-label form-label" for="friend-0-name">?</label>
            <input class="friend-name-input form-control" id="friend-0-name" name="friend-0-name" required>
            <input class="friend-display-order" name="friend-0-display-order" value="?" type="hidden">
            <button class="btn btn-light" type="button" title="Move Up" onclick="moveFriendUp()">▲</button>
            <button class="btn btn-light" type="button" title="Move Down" onclick="moveFriendDown()">▼</button>
            <button class="btn btn-danger" type="button" title="Remove" onclick="removeFriend()">×</button>
        </div>
    </template>
    <div id="friends">
    </div>
</fieldset>
<div class="form-group">
    <button class="btn btn-secondary" type="button" title="Add Friend" onclick="addFriend()">Add Friend</button>
</div>
<script>
    function moveFriendUp() {
        var friend1 = event.target.parentNode;
        var friend2 = event.target.parentNode.previousElementSibling;
        if (friend2 != null) {
            var friends = friend1.parentNode;
            friends.insertBefore(friend1, friend2);
            changeFriendDisplayOrder(friend1.id, -1);
            changeFriendDisplayOrder(friend2.id, +1);
        }
    }

    function moveFriendDown() {
        var friend1 = event.target.parentNode;
        var friend2 = event.target.parentNode.nextElementSibling;
        if (friend2 != null) {
            var friends = friend1.parentNode;
            friends.insertBefore(friend2, friend1);
            changeFriendDisplayOrder(friend2.id, -1);
            changeFriendDisplayOrder(friend1.id, +1);
        }
    }

    function removeFriend() {
        var removeFriend = event.target.parentNode;
        for (var friend = document.getElementById(removeFriend.id).nextElementSibling; friend != null; friend = document
            .getElementById(friend.id).nextElementSibling) {
            changeFriendDisplayOrder(friend.id, -1);
        }
        removeFriend.remove();
    }

    function addFriend() {
        var friendsParent = document.getElementById('friends');
        var maxFriendId = 0
        var friendElements = friendsParent.children;
        for (var i = 0; i < friendElements.length; i++) {
            var friendElement = friendElements[i]
            var friendElementId = friendElement.id.substring('friend-'.length);
            if (friendElementId > maxFriendId) {
                maxFriendId = friendElementId;
            }
        }
        createFriend(maxFriendId + 1, '', friendElements.length, '[NEW]');
    }

    function createFriend(id, name, displayOrder, nameLabel) {
        var template = document.getElementById("friend-template");
        var clone = document.importNode(template.content, true);
        var friend = clone.querySelector('.form-group');
        friend.id = 'friend-' + id;
        friend.querySelector('.friend-name-label').htmlFor = 'friend-' + id + '-name';
        friend.querySelector('.friend-name-label').innerText = nameLabel
        friend.querySelector('.friend-name-input').id = 'friend-' + id + '-name';
        friend.querySelector('.friend-name-input').name = 'friend-' + id + '-name';
        friend.querySelector('.friend-name-input').value = name;
        friend.querySelector('.friend-display-order').name = 'friend-' + id + '-display-order';
        friend.querySelector('.friend-display-order').value = displayOrder;
        var friends = document.getElementById("friends");
        friends.appendChild(clone);
    }

    function changeFriendDisplayOrder(friendID, delta) {
        var friend = document.getElementById(friendID);
        var friendDisplayOrderElement = friend.querySelector('.friend-display-order')
        var friendDisplayOrder = friendDisplayOrderElement.value;
        friendDisplayOrderElement.value = parseInt(friendDisplayOrder) + delta;
    }

    {{range $index, $friendScore := .Data -}}
        createFriend({{$friendScore.FriendID}}, {{$friendScore.FriendName}}, {{$index}}, {{$friendScore.FriendName}});
    {{end -}}
</script>
{{end}}