{{define "players"}}
<fieldset>
    <legend>Players</legend>
    <div class="form-group">
        <label for="select-player-type">Player Type</label>
        <select id="select-player-type" class="form-control custom-select" onchange="refreshVisiblePlayers()">
            {{range .Data -}}
            <option value="{{- .PlayerTypeID -}}">{{.Name}}</option>
            {{end -}}
        </select>
    </div>
    <div class="form-group">
        <label for="select-friend">Friend</label>
        <select id="select-friend" class="form-control custom-select" onchange="refreshVisiblePlayers()">
            {{range (index .Data 0).FriendScores -}}
            <option value="{{- .FriendID -}}">{{.FriendName}}</option>
            {{end -}}
        </select>
    </div>
    <template id="player-template">
        <div class="form-group" id="player-0" data-player-type-id="0" data-friend-id="0">
            <label class="player-name-label forrm-label">?</label>
            <input class="player-player-id" name="player-0-player-id" value="?" type="hidden" required>
            <input class="player-display-order" name="player-0-display-order" value="?" type="hidden">
            <input class="player-player-type-id" name="player-0-player-type-id" value="?" type="hidden">
            <input class="player-friend-id" name="player-0-friend-id" value="?" type="hidden">
            <input class="player-id" value="0" type="hidden">
            <button class="btn btn-light" type="button" title="Move Up" onclick="movePlayerUp()">▲</button>
            <button class="btn btn-light" type="button" title="Move Down" onclick="movePlayerDown()">▼</button>
            <button class="btn btn-danger" type="button" title="Remove" onclick="removePlayer()">×</button>
        </div>
    </template>
    <div id="players">
    </div>
</fieldset>
<div class="form-group">
    <button class="btn btn-secondary" type="button" data-toggle="modal" data-target="#addPlayerModal">
        <span>Add Player...</span>
    </button>
</div>
{{template "player-search" .}}
<script>
    function movePlayerUp() {
        var player1 = event.target.parentNode;
        var player2 = event.target.parentNode.previousElementSibling;
        if (player2 != null) {
            var players = player1.parentNode;
            players.insertBefore(player1, player2);
            changePlayerDisplayOrder(player1.id, -1);
            changePlayerDisplayOrder(player2.id, +1);
        }
    }

    function movePlayerDown() {
        var player1 = event.target.parentNode;
        var player2 = event.target.parentNode.nextElementSibling;
        if (player2 != null) {
            var players = player1.parentNode;
            players.insertBefore(player2, player1);
            changePlayerDisplayOrder(player2.id, -1);
            changePlayerDisplayOrder(player1.id, +1);
        }
    }

    function removePlayer() {
        var removePlayer = event.target.parentNode;
        for (var player = document.getElementById(removePlayer.id).nextElementSibling; player != null; player = document
            .getElementById(player.id).nextElementSibling) {
            changePlayerDisplayOrder(player.id, -1);
        }
        removePlayer.remove();
    }

    function addPlayer(playerName, playerID) {
        var playerTypeID = document.getElementById('select-player-type').value;
        var friendID = document.getElementById('select-friend').value;
        var maxID = 0;
        var maxDisplayOrder = 0;
        var players = document.getElementById('players');
        var playerElements = players.getElementsByClassName('form-group')
        for (var i = 0; i < playerElements.length; i++) {
            var player = playerElements[i];
            var ID = parseInt(player.querySelector('.player-id').value);
            if (ID > maxID) {
                maxID = ID;
            }
            if (!player.classList.contains('d-none')) { // TODO: test if playerTypeId and friendId are equal
                var playerDisplayOrder = parseInt(player.querySelector('.player-display-order').value);
                if (playerDisplayOrder > maxDisplayOrder) {
                    maxDisplayOrder = playerDisplayOrder;
                }
            }
        }
        createPlayer(maxID + 1, playerName, playerID, maxDisplayOrder + 1, playerTypeID, friendID);
    }

    function createPlayer(id, playerName, playerID, displayOrder, playerTypeID, friendID) {
        var template = document.getElementById("player-template");
        var clone = document.importNode(template.content, true);
        var player = clone.querySelector('.form-group');
        player.id = 'player-' + id;
        player.querySelector('.player-name-label').innerText = playerName;
        player.querySelector('.player-player-id').name = 'player-' + id + '-player-id';
        player.querySelector('.player-player-id').value = playerID;
        player.querySelector('.player-display-order').name = 'player-' + id + '-display-order';
        player.querySelector('.player-display-order').value = displayOrder;
        player.querySelector('.player-player-type-id').name = 'player-' + id + '-player-type-id';
        player.querySelector('.player-player-type-id').value = playerTypeID;
        player.querySelector('.player-friend-id').name = 'player-' + id + '-friend-id';
        player.querySelector('.player-friend-id').value = friendID;
        player.querySelector('.player-id').value = id;
        var scoreCategories = document.getElementById("players");
        var scoreCategory = scoreCategories.querySelector('.player-type-id-' + playerTypeID);
        if (scoreCategory == null) {
            scoreCategory = document.createElement('div');
            scoreCategory.classList.add('score-category');
            scoreCategory.classList.add('player-type-id-' + playerTypeID);
            scoreCategories.appendChild(scoreCategory);
        }
        var friendScore = scoreCategory.querySelector('.friend-id-' + friendID);
        if (friendScore == null) {
            friendScore = document.createElement('div');
            friendScore.classList.add('friend-score');
            friendScore.classList.add('friend-id-' + friendID);
            scoreCategory.appendChild(friendScore);
        }
        friendScore.appendChild(clone);
    }

    function changePlayerDisplayOrder(playerID, delta) {
        var player = document.getElementById(playerID);
        var playerDisplayOrderElement = player.querySelector('.player-display-order')
        var playerDisplayOrder = playerDisplayOrderElement.value;
        playerDisplayOrderElement.value = parseInt(playerDisplayOrder) + delta;
    }

    function refreshVisiblePlayers() {
        var playerTypeID = document.getElementById('select-player-type').value;
        var friendID = document.getElementById('select-friend').value;
        var players = document.getElementById('players');
        var playerElements = players.getElementsByClassName('form-group')
        for (var i = 0; i < playerElements.length; i++) {
            var player = playerElements[i];
            var currentPlayerTypeID = player.querySelector('.player-player-type-id').value;
            var currentFriendID = player.querySelector('.player-friend-id').value;
            // TODO: add/remove d-none from .score-category and .friend-score divs
            if (playerTypeID === currentPlayerTypeID && friendID === currentFriendID) {
                player.classList.remove('d-none');
            } else {
                player.classList.add('d-none');
            }
        }
        refreshVisiblePlayers2();
    }
    {{range $scoreCategory := .Data -}}
    {{range $friendScore := $scoreCategory.FriendScores -}}
    {{range $index, $playerScore := $friendScore.PlayerScores -}}
    createPlayer({{$playerScore.ID}}, {{$playerScore.PlayerName}}, {{$playerScore.PlayerID}}, {{$index}}, {{$scoreCategory.PlayerTypeID}}, {{$friendScore.FriendID}});
    {{end -}}
    {{end -}}
    {{end -}}
    refreshVisiblePlayers(); // initialize visible player scores to first friendScore.
</script>
{{end}}