<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="Description" content="sports statistic aggregation">
  <title>{{.Title}}</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script defer src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
  </script>
  <script defer src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
  </script>
  <script defer src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
  </script>
  <link rel="stylesheet" type="text/css" href="/main.css" />
  <link rel="icon" type="image/x-icon" href="/favicon.ico">
</head>

<body class="m-3">
  <nav class="navbar navbar-expand-sm navbar-light bg-light mb-3" id="main-navbar">
    <a class="navbar-brand" href="/">
      <img src="/favicon.ico" alt="hat">
      <span>nate-stats</span>
    </a>
    <button class="navbar-toggler" aria-label="Toggle Navbar" type="button" data-toggle="collapse"
      data-target="#main-navbar-nav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="main-navbar-nav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        {{ range .Sports -}}
        <li class="nav-item">
          <a class="nav-link" href="/{{.URL}}">{{.Name}} Stats</a>
        </li>
        {{ end -}}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">Admin</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            {{ range .Sports -}}
            <a class="dropdown-item" href="/{{.URL}}/admin">{{.Name}} Admin</a>
            {{end -}}
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
      </ul>
    </div>
  </nav>
  <h1 class="text-primary">{{.Title}}</h1>
  {{- if .ShowTabs}}
  <div id="main-tabs">
    <div class="mb-3" id="main-tabs-tabs" role="tablist">
      <ul class="nav nav-tabs">
        {{range .Tabs -}}
        <li class="nav-item">
          <a id="{{.GetID .GetName}}-tab" class="nav-link" href="#{{.GetID .GetName}}"
            role="tab" onclick="tabClick(event)">{{.GetName}}</a>
        </li>
        {{end -}}
      </ul>
    </div>
    <div id="main-tabs-content" class="tab-content" role="main">
      {{range .Tabs -}}
      <div id="{{.GetID .GetName}}" class="tab-pane" role="tabpanel">
        {{- template "content" . -}}
      </div>
      {{end -}}
    </div>
  </div>
  {{- else -}}
  {{- template "content" . -}}
  {{end -}}
  <div role="contentinfo">
    {{if .TimesMessage.Messages -}}
    <p id="times-message"></p>
    {{end -}}
    <p id="page-load-message"></p>
  </div>
  <script>
    function twoDigits(num) {
      return num < 10 ? "0" + num : num;
    }

    function formatDate(utcDate) {
      var localDate = new Date(utcDate);
      var year = localDate.getFullYear();
      var month = localDate.getMonth() + 1;
      var date = localDate.getDate();
      var hours = localDate.getHours();
      var minutes = localDate.getMinutes();
      var seconds = localDate.getSeconds();
      return twoDigits(year) + "/" +
        twoDigits(month) + "/" +
        twoDigits(date) + " " +
        twoDigits(hours) + ":" +
        twoDigits(minutes) + ":" +
        twoDigits(seconds);
    }

    function initCurrentNavbarPage() {
      document.getElementById('main-navbar-nav').querySelector('[href="' + this.location.pathname + '"]').classList.add(
        'active');
    }

    function initFirstTab() {
      if (document.getElementById('main-tabs-tabs') != null) {
        document.getElementById('main-tabs-tabs').querySelector('.nav-link').classList.add('active');
        document.getElementById('main-tabs-content').querySelector('.tab-pane').classList.add('active');
        document.getElementById('main-tabs-content').querySelector('.tab-pane').classList.add('show');
      }
    }

    function tabClick(e) {
      e.preventDefault();
      var clickedTab = e.srcElement;
      if (clickedTab.classList.contains('active')) {
        return;
      }
      window.location.hash = clickedTab.hash;

      var tabs = document.getElementById('main-tabs-tabs').querySelectorAll(".nav-link");
      for (var i = 0; i < tabs.length; i++) {
        var selectedTab = tabs[i].id === clickedTab.id;
        tabs[i].classList.toggle('active', selectedTab);
      }

      var tabContents = document.getElementById('main-tabs-content').querySelectorAll('.tab-pane');
      for (var i = 0; i < tabContents.length; i++) {
        var selectedTabContent = "#"+tabContents[i].id === clickedTab.hash;
        tabContents[i].classList.toggle('active', selectedTabContent);
        tabContents[i].classList.toggle('show', selectedTabContent);
      }
    }

    function initBottomMessages() {
      if (document.getElementById('times-message') != null) {
        var timesMessage = {{.TimesMessage}};
        var messages = timesMessage.Messages;
        var times = timesMessage.Times;
        var formattedTimesMessage = "";
        for (var i = 0; i < messages.length; i++) {
          formattedTimesMessage += messages[i];
          if (times && i < times.length) {
            formattedTimesMessage += formatDate(times[i]);
          }
        }
        document.getElementById('times-message').innerText = formattedTimesMessage;
      }
      document.getElementById('page-load-message').innerText = 'Page loaded at ' + formatDate({{.PageLoadTime}});
    }

    initCurrentNavbarPage();
    initFirstTab();
    initBottomMessages();
  </script>
</body>

</html>