{{define "content"}}
{{- with $sc := .ScoreCategory -}}
<h2 class="text-primary">{{$sc.Description}}</h2>
<div class="container">
    <div class="row">
        {{range $sc.FriendScores -}}
        <div class="col-sm m-2">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title text-success">{{.FriendName}}</h3>
                    <div class="card-text">
                        <table class="card-table table">
                            <thead class="d-none">
                                <th>Player Name</th>
                                <th>Score</th>
                            </thead>
                            <tbody>
                                {{range .PlayerScores -}}
                                <tr>
                                    <td>{{.PlayerName}}</td>
                                    <td>{{.Score}}</td>
                                </tr>
                                {{end -}}
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td>
                                        <h4 class="text-danger">Value: {{.Score}}</h4>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        {{end -}}
    </div>
</div>
{{- end -}}
<a href="{{.ExportURL}}" download>CSV Spreadsheet Export</a>
{{end}}