<script defer src="/js/main/footer.js"></script>
<div role="contentinfo">
    {{if .TimesMessage.Messages -}}
    <div id="times-message">
        <div class="messages">
            {{range .TimesMessage.Messages -}}
            <div>{{.}}</div>
            {{end -}}
        </div>
        <div class="times">
            {{range .TimesMessage.Times -}}
            <div>{{.}}</div>
            {{end -}}
        </div>
    </div>
    {{end -}}
    <div id="page-load-message">{{.PageLoadTime}}</div>
</div>