{{ if .ShowTabs -}}
<script defer src="/js/main/tabs.js"></script>
<div id="main-tabs">
    <div class="mb-3" id="main-tabs-tabs" role="tablist">
        <ul class="nav nav-tabs">
            {{ range .Tabs -}}
            <li class="nav-item">
                <a id="{{.GetID .GetName}}-tab" class="nav-link" href="#{{.GetID .GetName}}" role="tab"
                    onclick="tabsTemplate.tabClick(event)">{{.GetName}}</a>
            </li>
            {{ end -}}
        </ul>
    </div>
    <div id="main-tabs-content" class="tab-content" role="main">
        {{ range .Tabs -}}
        <div id="{{.GetID .GetName}}" class="tab-pane" role="tabpanel">
            {{ template "tab.html" . }}
        </div>
        {{ end -}}
    </div>
</div>
{{- else -}}
{{- template "tab.html" . -}}
{{ end -}}