{{define "players"}}
<fieldset>
    <legend>Players</legend>
    <label for="select-player-type">Player Type</label>
    <select id="select-player-type" class="form-control custom-select" onchange="refreshVisiblePlayers()">
        {{range .Data}}
        <option value="{{.PlayerTypeID}}">{{.Name}}</option>
        {{end}}
    </select>
    <br />
    <label for="select-friend">Friend</label>
    <select id="select-friend" class="form-control custom-select" onchange="refreshVisiblePlayers()">
        {{range (index .Data 0).FriendScores}}
        <option value="{{.FriendID}}">{{.FriendName}}</option>
        {{end}}
    </select>
    <br /><!-- TODO: remove ALL br elements -->
    <template id="player-template"><!-- TODO: move other templates above/below parent div (fix moveUp/down) -->
        <div class="form-group" id="player-0" data-player-type-id="0" data-friend-id="0">
            <label class="player-name-label forrm-label">?</label>
            <input class="player-player-id" name="player-0-player-id" value="?" type="hidden" required>
            <input class="player-display-order" name="player-0-display-order" value="?" type="hidden">
            <input class="player-player-type-id" name="player-0-player-type-id" value="?" type="hidden">
            <input class="player-friend-id" name="player-0-friend-id" value="?" type="hidden">
            <button class="btn btn-light" type="button" title="Move Up" onclick="movePlayerUp()">▲</button>
            <button class="btn btn-light" type="button" title="Move Down" onclick="movePlayerDown()">▼</button>
            <button class="btn btn-danger" type="button" title="Remove" onclick="removePlayer()">×</button>
        </div>
    </template>
    <div id="players">
    </div>
</fieldset>
<button class="btn btn-secondary" type="button" data-toggle="modal" data-target="#addPlayerModal">
    <span>Add Player...</span>
</button>
<div class="modal fade" id="addPlayerModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addPlayerModalTitle">Player Search</h5>
                <button type="button" class="close" data-dismiss="modal">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form">
                    <div class="form-group">
                        <input class="form-control" type="search" id="player-search" placeholder="Search">
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="active-players-only"
                            id="active-players-only" checked>
                        <label class="form-check-label" for="active-players-only">Active Players Only</label>
                    </div>
                    <button class="btn btn-outline-success" type="button" onclick="searchPlayers()">Search</button>
                </div>
                <div id="player-search-results"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button id="modal-add-player-button" type="button" class="btn btn-outline-primary" data-dismiss="modal"
                    onclick="addPlayer()" disabled>Add Player</button>
            </div>
        </div>
    </div>
</div>
<script>
    function movePlayerUp() {
        var player1 = event.target.parentNode;
        var player2 = event.target.parentNode.previousElementSibling;
        if (player2 != null) {
            var players = player1.parentNode;
            players.insertBefore(player1, player2);
            changePlayerDisplayOrder(player1.id, -1);
            changePlayerDisplayOrder(player2.id, +1);
        }
    }

    function movePlayerDown() {
        var player1 = event.target.parentNode;
        var player2 = event.target.parentNode.nextElementSibling;
        if (player2 != null) {
            var players = player1.parentNode;
            players.insertBefore(player2, player1);
            changePlayerDisplayOrder(player2.id, -1);
            changePlayerDisplayOrder(player1.id, +1);
        }
    }

    function removePlayer() {
        var removePlayer = event.target.parentNode;
        for (var player = document.getElementById(removePlayer.id).nextElementSibling; player != null; player = document
            .getElementById(player.id).nextElementSibling) {
            changePlayerDisplayOrder(player.id, -1);
        }
        removePlayer.remove();
    }

    function addPlayer() {
        var playerTypeID = document.getElementById('select-player-type').value;
        var friendID = document.getElementById('select-friend').value;
        var playerID = null;
        var playerName = null;
        var playerSearchResultsBody = document.getElementById('player-search-results-body');
        var rows = playerSearchResultsBody.children
        // TODO: move player search into seperate template file?
        for (var i = 0; i < rows.length; i++) {
            var row = rows[i];
            if (row.children[0].firstChild.checked) {
                playerID = row.children[3].value;
                playerName = row.children[1].innerText;
                break;
            }
        }
        // determine where to add the player
        var maxID = 0;
        var maxDisplayOrder = 0;
        var players = document.getElementById('players');
        var playerElements = players.getElementsByClassName('form-group')
        for (var i = 0; i < playerElements.length; i++) {
            var player = playerElements[i];
            var ID = parseInt(player.id.substring('player-'.length)); // TOOD: substring HACK!
            if (ID > maxID) {
                maxID = ID;
            }
            if (!player.classList.contains('player-hidden')) {
                var playerDisplayOrder = parseInt(player.querySelector('.player-display-order').value);
                if (playerDisplayOrder > maxDisplayOrder) {
                    maxDisplayOrder = playerDisplayOrder;
                }
            }
        }
        // create the new player
        createPlayer(maxID + 1, playerName, playerID, maxDisplayOrder + 1, playerTypeID, friendID);
    }

    function createPlayer(id, playerName, playerID, displayOrder, playerTypeID, friendID) {
        var template = document.getElementById("player-template");
        var clone = document.importNode(template.content, true);
        var player = clone.querySelector('.form-group');
        player.id = 'player-' + id;
        player.querySelector('.player-name-label').innerText = playerName;
        player.querySelector('.player-player-id').name = 'player-' + id + '-player-id';
        player.querySelector('.player-player-id').value = playerID;
        player.querySelector('.player-display-order').name = 'player-' + id + '-display-order';
        player.querySelector('.player-display-order').value = displayOrder;
        player.querySelector('.player-player-type-id').name = 'player-' + id + '-player-type-id';
        player.querySelector('.player-player-type-id').value = playerTypeID;
        player.querySelector('.player-friend-id').name = 'player-' + id + '-friend-id';
        player.querySelector('.player-friend-id').value = friendID;
        var players = document.getElementById("players");
        var friendScores = players.querySelector('#player-type-id-' + playerTypeID);
        if (friendScores == null) {
            friendScores = document.createElement('div');
            friendScores.id = 'player-type-id-' + playerTypeID;
            players.appendChild(friendScores);
        }
        var playerScores = friendScores.querySelector('#friend-id-' + friendID);
        if (playerScores == null) {
            playerScores = document.createElement('div');
            playerScores.id = 'friend-id-' + friendID;
            friendScores.appendChild(playerScores);
        }
        playerScores.appendChild(clone);
    }

    function changePlayerDisplayOrder(playerID, delta) {
        var player = document.getElementById(playerID);
        var playerDisplayOrderElement = player.querySelector('.player-display-order')
        var playerDisplayOrder = playerDisplayOrderElement.value;
        playerDisplayOrderElement.setAttribute('value', parseInt(playerDisplayOrder) + delta);
    }

    function refreshVisiblePlayers() {
        var playerTypeID = document.getElementById('select-player-type').value;
        var friendID = document.getElementById('select-friend').value;
        var players = document.getElementById('players');
        var playerElements = players.getElementsByClassName('form-group')
        for (var i = 0; i < playerElements.length; i++) {
            var player = playerElements[i];
            var currentPlayerTypeID = player.querySelector('.player-player-type-id').value;
            var currentFriendID = player.querySelector('.player-friend-id').value;
            if (playerTypeID === currentPlayerTypeID && friendID === currentFriendID) {
                player.classList.remove('player-hidden');
            } else {
                player.classList.add('player-hidden');
            }
        }
        // clear the search results
        var playerSearchResultsDiv = document.getElementById('player-search-results')
        playerSearchResultsDiv.innerHTML = '';
    }

    function searchPlayers() {
        setNewPlayerSelected(false);
        var playerTypeID = document.getElementById('select-player-type').value;
        var activePlayersOnly = document.getElementById("active-players-only").checked;
        var query = document.getElementById('player-search').value;
        var url = '/admin/search?q=' + query + '&pt=' + playerTypeID + '&apo=' + activePlayersOnly;
        var httpRequest = new XMLHttpRequest();
        httpRequest.onload = searchSuccess;
        httpRequest.onerror = searchError;
        httpRequest.open('GET', url, true);
        httpRequest.send();
    }

    function searchSuccess() {
        if (this.status != 200) {
            searchError(new Error(this.responseText));
            return;
        }
        var playerSearchResults = JSON.parse(this.responseText);
        if (playerSearchResults.length == 0) {
            searchError(new Error('No results'));
            return;
        }

        var playerSearchResultsBody = document.createElement('tbody');
        playerSearchResultsBody.setAttribute('id', 'player-search-results-body')
        for (var i = 0; i < playerSearchResults.length; i++) {
            var playerSearchResult = playerSearchResults[i];
            var row = document.createElement('tr');
            // TODO: use template for player search
            row.innerHTML =
                '<td><input class="form-check-input" type="radio" name="selectedPlayer" onchange="setNewPlayerSelected(true)"></td>' +
                '<td>' + playerSearchResult.Name + '</td>' +
                '<td>' + playerSearchResult.Details + '</td>' +
                '<input type="hidden" value="' + playerSearchResult.PlayerID + '">';
            playerSearchResultsBody.appendChild(row)
        }
        if (playerSearchResultsBody.children.length == 1) {
            var firstRow = playerSearchResultsBody.children[0]
            var firstTd = firstRow.children[0];
            var radioInput = firstTd.children[0];
            radioInput.setAttribute('checked', null);
            setNewPlayerSelected(true);
        }
        var playerSearchResultsTable = document.createElement('table')
        playerSearchResultsTable.classList.add('table');
        playerSearchResultsTable.innerHTML = '<thead>' +
            ' <tr>' +
            ' <th>Add?</th>' +
            ' <th>Name</th>' +
            ' <th>Details</th>' +
            ' </tr>' +
            ' </thead>';
        playerSearchResultsTable.appendChild(playerSearchResultsBody);

        var playerSearchResultsDiv = document.getElementById('player-search-results')
        playerSearchResultsDiv.innerHTML = '';
        playerSearchResultsDiv.appendChild(playerSearchResultsTable);
    }

    function searchError(err) {
        var playerSearchResults = document.getElementById('player-search-results');
        playerSearchResults.innerHTML = err;
    }

    function setNewPlayerSelected(isSelected) {
        var addPlayerButton = document.getElementById('modal-add-player-button');
        if (isSelected) {
            addPlayerButton.removeAttribute('disabled');
        } else {
            addPlayerButton.setAttribute('disabled', null);
        }
    }
    {{range $scoreCategory := .Data}}
    {{range $friendScore := $scoreCategory.FriendScores}}
    {{range $index, $playerScore := $friendScore.PlayerScores}}
    createPlayer({{$playerScore.ID}}, {{$playerScore.PlayerName}}, {{$playerScore.PlayerID}}, {{$index}}, {{$scoreCategory.PlayerTypeID}}, {{$friendScore.FriendID}});
    {{end}}
    {{end}}
    {{end}}
    refreshVisiblePlayers(); // initialize visible player scores to first friendScore.
</script>
{{end}}