{{- define "player-search" -}}
<div class="modal fade" id="addPlayerModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addPlayerModalTitle">Player Search</h5>
                <button type="button" class="close" data-dismiss="modal">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form">
                    <div class="form-group">
                        <input class="form-control" type="search" id="player-search" placeholder="Search">
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="active-players-only"
                            id="active-players-only" checked>
                        <label class="form-check-label" for="active-players-only">Active Players Only</label>
                    </div>
                    <template id="player-search-result-template">
                        <div class="form-check">
                            <input class="psr-radio form-check-input" type="radio" name="psr-selected" id="psr-0"
                                onchange="setNewPlayerSelected(true)">
                            <label class="psr-label form-check-label" for="psr-0">
                                <strong class="psr-label-name">?</strong>
                                <span class="psr-label-details">?</span>
                            </label>
                            <input class="psr-player-id" value="?" type="hidden">
                            <input class="psr-player-name" value="?" type="hidden">
                        </div>
                    </template>
                    <fieldset id="player-search-results"></fieldset>
                    <button class="btn btn-outline-success" type="button" onclick="searchPlayers()">Search</button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button id="modal-add-player-button" type="button" class="btn btn-outline-primary"
                        data-dismiss="modal" onclick="addPlayer2()" disabled>Add Player</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function addPlayer2() {
        var playerSearchResults = document.getElementById('player-search-results');
        playerSearchResults = playerSearchResults.getElementsByClassName('form-check');
        for (var i = 0; i < playerSearchResults.length; i++) {
            var psr = playerSearchResults[i];
            if (psr.querySelector('.psr-radio').checked) {
                var playerID = psr.querySelector('.psr-player-id').value;
                var playerName = psr.querySelector('.psr-player-name').value;
                addPlayer(playerName, playerID);
                return;
            }
        }
    }

    function refreshVisiblePlayers2() {
        var playerSearchResultsDiv = document.getElementById('player-search-results')
        playerSearchResultsDiv.innerHTML = '';
    }

    function searchPlayers() {
        setNewPlayerSelected(false);
        var playerTypeID = document.getElementById('select-player-type').value;
        var activePlayersOnly = document.getElementById("active-players-only").checked;
        var query = document.getElementById('player-search').value;
        var url = '/admin/search?q=' + query + '&pt=' + playerTypeID + '&apo=' + activePlayersOnly;
        var httpRequest = new XMLHttpRequest();
        httpRequest.onload = searchSuccess;
        httpRequest.onerror = searchError;
        httpRequest.open('GET', url, true);
        httpRequest.send();
    }

    function searchSuccess() {
        if (this.status != 200) {
            searchError(new Error(this.responseText));
            return;
        }
        var playerSearchResults = JSON.parse(this.responseText);
        if (playerSearchResults.length == 0) {
            searchError(new Error('No results'));
            return;
        }

        var playerSearchResultsDiv = document.getElementById('player-search-results')
        playerSearchResultsDiv.innerHTML = '';
        for (var i = 0; i < playerSearchResults.length; i++) {
            var playerSearchResult = playerSearchResults[i];
            var template = document.getElementById("player-search-result-template");
            var clone = document.importNode(template.content, true);
            var psr = clone.querySelector('.form-check');
            psr.querySelector('.psr-radio').id = 'psr-' + playerSearchResult.PlayerID;
            psr.querySelector('.psr-label').htmlFor = 'psr-' + playerSearchResult.PlayerID;
            psr.querySelector('.psr-label-name').innerText = playerSearchResult.Name;
            psr.querySelector('.psr-label-details').innerText = playerSearchResult.Details;
            psr.querySelector('.psr-player-id').value = playerSearchResult.PlayerID;
            psr.querySelector('.psr-player-name').value = playerSearchResult.Name;
            playerSearchResultsDiv.appendChild(clone);
        }
        if (playerSearchResults.length == 1) {
            var psr = playerSearchResultsDiv.querySelector('.form-check');
            psr.querySelector('.psr-radio').checked = true;
            setNewPlayerSelected(true);
        }
    }

    function searchError(err) {
        var playerSearchResults = document.getElementById('player-search-results');
        playerSearchResults.innerHTML = err;
    }

    function setNewPlayerSelected(isSelected) {
        var addPlayerButton = document.getElementById('modal-add-player-button');
        addPlayerButton.disabled = !isSelected;
    }
</script>
{{- end -}}