{{define "years"}}
<fieldset>
    <legend>Years</legend>
    <div id="years">
        <template id="year-template">
            <div class="form-check">
                <input class="year-radio form-check-input" type="radio" name="year-active"></input>
                <label class="year-label form-check-label"></label>
                <input class="year-input" type="hidden" name="year">
                <button class="btn btn-danger" type="button" title="Remove" onclick="removeYear()">×</button>
            </div>
        </template>
    </div>
</fieldset>
<button class="btn btn-secondary" type="button" title="Add Year" onclick="addYear()">Add Year</button>
<input id="add-year-input" class="form-control" type="number" min="2000" max="3000" , step="1">
<script>
    function removeYear() {
        var year = event.target.parentNode;
        year.remove();
    }

    function addYear() {
        var yearsParent = document.getElementById('years');
        var year = document.getElementById('add-year-input').value;
        var years = yearsParent.children;
        for (var i = 1; i < years.length; i++) {
            var yearI = years[i].children[2].value;
            if (yearI === year) {
                return;
            }
        }
        createYear(year, "true");
    }

    function createYear(yearNum, active) {
        var template = document.getElementById("year-template");
        var clone = document.importNode(template.content, true);
        var newYear = clone.querySelector('.form-check');
        newYear.id = 'year-' + yearNum;
        newYear.querySelector('.year-radio').value = yearNum;
        if (active == "true") {
            newYear.querySelector('.year-radio').checked = true;
        }
        newYear.querySelector('.year-label').for = 'year-' + yearNum + '-active';
        newYear.querySelector('.year-label').innerText = yearNum;
        newYear.querySelector('.year-input').value = yearNum;
        var years = document.querySelector("#years");
        years.appendChild(clone);
    }

    document.getElementById('add-year-input').value = new Date().getYear() + 1900;
</script>
{{range .Data}}
<script>
    createYear("{{.Value}}", "{{.Active}}");
</script>
{{end}}
{{end}}