.card {
    width: 18rem;
}

label {
    width: 6rem;
}

.form-control:not(#player-search) {
    display: inline-block;
    width: 6rem;
}

.psr-label {
    display: inline;
}

nav,
#main-tabs,
.form-check,
fieldset+button,
form,
select {
    margin-bottom: 1rem;
}

.btn-primary {
    display: block;
}