.card {
    width: 18rem;
}

h2 {
    color: blue;
}

h3 {
    color: purple;
}

h4 {
    color: green;
}

label {
    width: 6rem;
}

.form-control {
    display: inline-block;
    width: 6rem;
}

nav, #main-tabs, .form-check, fieldset + button, form, select {
    margin-bottom: 1rem;
}

.btn-primary {
    display: block;
}

html {
    margin: 1rem;
}

i {
    margin-right: .5rem;
}

.player-hidden {
    display: none;
}

.player-name {
    display: inline-block;
    width: 10rem;
}