{{define "content"}}
<ul>
    <li>Questions can be posted on the issues page of Github for this project.</li>
    <li>Team scores and player stats is retrieved from and <a
            href="http://gdx.mlb.com/components/copyright.txt">copyrighted</a> by MLB
        Advanced Media.</li>
    <li><i class="far fa-copyright"></i><span>2019 Jacob Patterson</span></li>
    <li><i class="fab fa-github-square"></i><a href="https://github.com/jacobpatterson1549/nate-mlb">Github</a></li>
    <li><i class="fab fa-linkedin"></i><a href="https://www.linkedin.com/in/jacobpatterson1549">LinkedIn</a></li>
</ul>
{{end}}