{{- define "content" -}}
<form method="POST" id="{{- .Action -}}-form">
    <div class="form-group">
        <label class="form-label" for="{{- .Action -}}-username">Username</label>
        <input class="form-control" id="{{- .Action -}}-username" name="username" type="text" autocomplete="username"
            required>
    </div>
    <div class="form-group">
        <label class="form-label" for="{{- .Action -}}-password">Password</label>
        <input class="form-control" id="{{- .Action -}}-password" name="password" type="password"
            autocomplete="current-password" required>
    </div>
    {{- if (eq .Action "players") -}}
    {{- template "players" . -}}
    {{- end -}}
    {{- if (eq .Action "friends") -}}
    {{- template "friends" . -}}
    {{- end -}}
    {{- if (eq .Action "years") -}}
    {{- template "years" . -}}
    {{- end -}}
    {{- if (eq .Action "password") -}}
    {{- template "password" . -}}
    {{- end -}}
    {{- if (eq .Action "cache") -}}
    {{- template "cache" . -}}
    {{- end -}}
    <input name="action" type="hidden" value="{{- .Action -}}">
    <button class="btn btn-primary" form="{{- .Action -}}-form" id="{{- .Action -}}-form-submit-button"
        value="Submit">Submit</button>
</form>
{{- end -}}