{{ define "content" }}
<form method="POST">
    {{ if (eq .Name "Reset_Password") }}
    <div class="form-group">
        <label for="newPassword">New Password</label>
        <input id="newPassword" name="newPassword" type="password" class="form-control" required>
    </div>
    {{ end }}

    {{ if (eq .Name "Clear_Cache") }}
    <p>Clearing the cache forces stats to be reloaded from the data sources.</p>
    {{ end }}

    <div class="form-group">
        <label for="currentPassword">Current Password</label>
        <input id="currentPassword" name="currentPassword" type="password" class="form-control" required>
    </div>
    <input type="hidden" name="action" value="{{.Action}}">
    <button class="btn btn-primary">Submit</button>
</form>
{{ end }}