{{ define "content" }}
<form method="POST" id="{{.Action}}-form">
    {{- if (eq .Action "password") }}
    <div class="form-group">
        <label for="newPassword">New Password</label>
        <input id="newPassword" name="newPassword" type="password" class="form-control" required>
    </div>
    {{ end -}}
    {{- if (eq .Action "cache") }}
    <p>Clearing the cache forces stats to be reloaded from the data sources.</p>
    {{ end -}}
    {{- if (eq .Action "friends") }}
    {{ template "friendsForm" . }}
    {{ end -}}
    {{- if (eq .Action "players") }}
    {{ template "playersForm" . }}
    {{ end -}}
    {{- if (eq .Action "years") }}
    {{ template "yearsForm" . }}
    {{ end -}}
    <div class="form-group">
        <label for="{{.Action}}-currentPassword">Current Password</label>
        <input id="{{.Action}}-currentPassword" name="currentPassword" type="password" class="form-control" required>
    </div>
    <input name="action" type="hidden" value="{{.Action}}">
    <button class="btn btn-primary" form="{{.Action}}-form" id="{{.Action}}-form-submit-button" value="Submit">Submit</button>
</form>
{{ end }}