{{ define "content" }}
<form method="POST" id="{{.Action}}-form">
    {{- if (eq .Action "password") }}
    <div class="form-group">
        <label for="newPassword">New Password</label>
        <input id="newPassword" name="newPassword" type="password" class="form-control" required>
    </div>
    {{ end -}}
    {{- if (eq .Action "cache") }}
    <p>Clearing the cache forces stats to be reloaded from the data sources.</p>
    {{ end -}}
    {{- if (eq .Action "friend-names") }}
    <fieldset>
        <legend>Friend Names</legend>
        {{- range $index, $friendScore := (index .ScoreCategories 0).FriendScores }}
        <div class="form-group">
            <label for="friend-name-{{$index}}">{{$friendScore.FriendName}}</label>
            <input id="friend-name-{{$index}}" name="friend-name-{{$index}}" class="form-control" required
                value="{{$friendScore.FriendName}}">
            <input name="friend-id-{{$index}}" type="hidden" value="{{$friendScore.FriendID}}">
        </div>
        {{- end -}}
    </fieldset>
    <input name="friend-count" type="hidden" value="{{ len (index .ScoreCategories 0).FriendScores }}">
    {{ end -}}
    <div class="form-group">
        <label for="{{.Action}}-currentPassword">Current Password</label>
        <input id="{{.Action}}-currentPassword" name="currentPassword" type="password" class="form-control" required>
    </div>
    <input name="action" type="hidden" value="{{.Action}}">
    <button class="btn btn-primary" form="{{.Action}}-form" value="Submit">Submit</button>
</form>
{{ end }}