{{ define "friendsForm" }}
<fieldset>
    <legend>Friends</legend>
    <div>
        {{- range $index, $friendScore := (index .ScoreCategories 0).FriendScores }}
        <div class="form-group" id="friend-{{$friendScore.FriendID}}">
            <input id="friend-{{$friendScore.FriendID}}-display-order" name="friend-{{$friendScore.FriendID}}-display-order" value="{{$index}}" type="hidden">
            <label for="friend-{{$friendScore.FriendID}}-name">{{$friendScore.FriendName}}</label>
            <input id="friend-{{$friendScore.FriendID}}-name" name="friend-{{$friendScore.FriendID}}-name" class="form-control" required
                value="{{$friendScore.FriendName}}">
            <button class="btn btn-light" type="button" title="Move Up" onclick="moveFriendUp()">▲</button>
            <button class="btn btn-light" type="button" title="Move Down" onclick="moveFriendDown()">▼</button>
            <button class="btn btn-danger" type="button" title="Remove" onclick="removeFriend()">×</button>
        </div>
        {{- end -}}
    </div>
</fieldset>
<button class="btn btn-secondary" type="button" title="Add Friend" onclick="addFriend()">Add Friend</button>
<script>
    function moveFriendUp() {
        friend1 = event.target.parentNode;
        friend2 = event.target.parentNode.previousElementSibling;
        if (friend2) {
            friends = friend1.parentNode
            friends.insertBefore(friend1, friend2);
            changeFriendDisplayOrder(friend1.id, -1);
            changeFriendDisplayOrder(friend2.id, +1);
        }
    }
    function moveFriendDown() {
        friend1 = event.target.parentNode;
        friend2 = event.target.parentNode.nextElementSibling;
        if (friend2) {
            friends = friend1.parentNode
            friends.insertBefore(friend2, friend1);
            changeFriendDisplayOrder(friend2.id, -1);
            changeFriendDisplayOrder(friend1.id, +1);
        }
    }
    function removeFriend() {
        friend = $(event.target.parentNode);
        friend.remove();
    }
    function addFriend() {
        // var friends = event.previousElementSibling;
        console.log('TODO: add friend');
    }
    function changeFriendDisplayOrder(friendID, delta) {
        friend = document.getElementById(friendID)
        friendDisplayOrderId = friend.id + '-display-order'
        friendDisplayOrderElement = document.getElementById(friendDisplayOrderId)
        friendDisplayOrder = friendDisplayOrderElement.getAttribute('value');
        friendDisplayOrderElement.setAttribute('value', parseInt(friendDisplayOrder) + delta);
    }
</script>
{{ end }}