<!doctype html>
<html lang="en">

<head>
  <base href="/">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="Description" content="mlb baseball statistic aggregation">
  <title>{{ .Title }}</title>
  <!-- Bootstrap -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
  </script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <!-- Additional Styling -->
  <link rel="stylesheet" type="text/css" href="/static/main.css" />
</head>

<body>

  <nav id="navbar" class="navbar navbar-nav navbar-expand-sm navbar-light bg-light" role="navigation">
    <div class="navbar-nav">
      <a class="nav-item nav-link navbar-brand" href="/">Stats</span></a>
      <a class="nav-item nav-link" href="/admin">Admin</a>
      <a class="nav-item nav-link" href="/about">About</a>
    </div>
  </nav>

  <br />

  
  <ul id="mainTabs" class="nav nav-tabs" role="tablist">
    {{- range .Tabs }}
    <li class="nav-item">
      <a id="{{.GetName}}-tab" class="nav-link" data-toggle="tab" href="#{{.GetName}}" role="tab"
        aria-controls="{{.GetName}}">{{.GetName}}</a>
    </li>
    {{- end }}
  </ul>

  <div id="mainContent" class="tab-content" role="main">
    {{- range .Tabs }}
    <div id="{{.GetName}}" class="tab-pane fade" role="tabpanel" aria-labelledby="{{.GetName}}-tab">
      {{ template "content" . }}
    </div>
    {{ end -}}
  </div>

  <p id="message" role="contentinfo">{{ .Message }}</p>

  <script>
    $(function () {
      $('#mainTabs li:first-child a').tab('show')
      $('#navbar a[href="' + this.location.pathname + '"]').addClass('active')
    })
  </script>

</body>

</html>