{{ define "playersForm" }}
{{- if .ScoreCategories -}}
<fieldset>
    <legend>Players</legend>
    <label for="select-player-type">Player Type</label>
    <select id="select-player-type" class="custom-select" onchange="refreshVisibleFriendScores()">
        {{- range .ScoreCategories -}}
        <option value="{{.PlayerTypeID}}">{{.Name}}</option>
        {{- end -}}
    </select>
    <br />
    <label for="select-friend">Friend</label>
    <select id="select-friend" class="custom-select" onchange="refreshVisibleFriendScores()">
        {{- range (index .ScoreCategories 0).FriendScores }}
        <option value="{{.FriendID}}">{{.FriendName}}</option>
        {{- end -}}
    </select>
    <br />
    <div>
        {{- range .ScoreCategories }}
        <div class="score-category">
            <input class="player-type-id" value="{{.PlayerTypeID}}" type="hidden">
            {{- range .FriendScores -}}
            <div class="friend-score">
                <input class="friend-id" value="{{.FriendID}}" type="hidden">
                {{- range $index, $playerScore := .PlayerScores }}
                <div class="form-group player-score" id="player-{{$playerScore.ID}}">
                    <input id="player-{{$playerScore.ID}}-display-order" name="player-{{$playerScore.ID}}-display-order"
                        value="{{$index}}" type="hidden">
                    <input name="player-{{$playerScore.ID}}-player-id" value="{{$playerScore.PlayerID}}" type="hidden">
                    <span class="player-name">{{$playerScore.PlayerName}}</span>
                    <button class="btn btn-light" type="button" title="Move Up" onclick="movePlayerUp()">▲</button>
                    <button class="btn btn-light" type="button" title="Move Down" onclick="movePlayerDown()">▼</button>
                    <button class="btn btn-danger" type="button" title="Remove" onclick="removePlayer()">×</button>
                </div>
                {{- end -}}
            </div>
            {{ end -}}
        </div>
        {{ end -}}
    </div>
</fieldset>
<button class="btn btn-secondary" type="button" data-toggle="modal" data-target="#addPlayerModal">
    <span>Add Player...</span>
</button>
<div class="modal fade" id="addPlayerModal" tabindex="-1" role="dialog" aria-labelledby="addPlayerModalTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addPlayerModalTitle">Player Search</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-inline">
                    <input class="form-control" type="search" id="player-search" placeholder="Search">
                    <button class="btn btn-outline-success" type="button" onclick="searchPlayers()">Search</button>
                </div>
                <div id="player-search-results"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button id="modal-add-player-button" type="button" class="btn btn-outline-primary" data-dismiss="modal"
                    onclick="addPlayer()" disabled>Add Player</button>
            </div>
        </div>
    </div>
</div>
<script>
    function movePlayerUp() {
        var player1 = event.target.parentNode;
        var player2 = event.target.parentNode.previousElementSibling;
        if (player2 != null) {
            var players = player1.parentNode;
            players.insertBefore(player1, player2);
            changePlayerDisplayOrder(player1.id, -1);
            changePlayerDisplayOrder(player2.id, +1);
        }
    }

    function movePlayerDown() {
        var player1 = event.target.parentNode;
        var player2 = event.target.parentNode.nextElementSibling;
        if (player2 != null) {
            var players = player1.parentNode;
            players.insertBefore(player2, player1);
            changePlayerDisplayOrder(player2.id, -1);
            changePlayerDisplayOrder(player1.id, +1);
        }
    }

    function removePlayer() {
        var removePlayer = event.target.parentNode;
        for (var player = document.getElementById(removePlayer.id).nextElementSibling; player != null; player = document
            .getElementById(player.id).nextElementSibling) {
            changePlayerDisplayOrder(player.id, -1);
        }
        removePlayer.remove();
    }

    function addPlayer() {
        var playerTypeID = document.getElementById('select-player-type').value;
        var friendID = document.getElementById('select-friend').value;
        var playerID = null;
        var playerName = null;
        var playerSearchResultsBody = document.getElementById('player-search-results-body');
        var rows = playerSearchResultsBody.children
        for (var i = 0; i < rows.length; i++) {
            var row = rows[i];
            if (row.children[0].firstChild.checked) {
                playerID = row.children[3].value;
                playerName = row.children[1].innerText;
                break;
            }
        }
        // determine where to add the player
        var maxID = 0;
        var playersParent = null;
        var scoreCategories = document.getElementsByClassName('score-category');
        for (var i = 0; i < scoreCategories.length; i++) {
            var scoreCategory = scoreCategories[i];
            var currentPlayerTypeID = scoreCategory.getElementsByClassName('player-type-id')[0].value;
            var friendScores = scoreCategory.getElementsByClassName('friend-score');
            for (var j = 0; j < friendScores.length; j++) {
                var friendScore = friendScores[j];
                var currentFriendID = friendScore.getElementsByClassName('friend-id')[0].value;
                if (playerTypeID == currentPlayerTypeID && friendID == currentFriendID) {
                    if (playersParent != null) {
                        throw 'multyple friendScores with playerTypeID=' + playerTypeID + ", friendID=" + friendID;
                    }
                    playersParent = friendScore;
                }
                // get max id from players
                var playerScores = friendScore.getElementsByClassName('player-score');
                for (var k = 0; k < playerScores.length; k++) {
                    var playerElement = playerScores[i]
                    var playerElementId = parseInt(playerElement.id.substring('player-'.length));
                    if (playerElementId > maxID) {
                        maxID = playerElementId;
                    }
                }
            }
        }
        if (playersParent == null) {
            return;
        }
        // create the new player
        var newPlayer = document.createElement('div');
        var newID = parseInt(maxID) + 1;
        var newPlayerDisplayOrder = playersParent.getElementsByClassName('player-score').length;
        newPlayer.setAttribute('class', 'form-group');
        newPlayer.setAttribute('id', 'player-' + newID);
        newPlayer.innerHTML = '<input id="player-' + newID + '-display-order" name="player-' + newID +
            '-display-order" value="' + newPlayerDisplayOrder + '" type="hidden">' +
            ' <input name=player-' + newID + '-type-id value="' + playerTypeID + '" type="hidden">' +
            ' <input name=player-' + newID + '-friend-id value="' + friendID + '" type="hidden">' +
            ' <input name="player-' + newID + '-player-id" value="' + playerID + '" type="hidden">' +
            ' <span class="player-name">' + playerName + '</span>' +
            ' <button class="btn btn-light" type="button" title="Move Up" onclick="movePlayerUp()">▲</button>' +
            ' <button class="btn btn-light" type="button" title="Move Down" onclick="movePlayerDown()">▼</button>' +
            ' <button class="btn btn-danger" type="button" title="Remove" onclick="removePlayer()">×</button>';
        playersParent.appendChild(newPlayer);
    }

    function changePlayerDisplayOrder(playerID, delta) {
        var player = document.getElementById(playerID);
        var playerDisplayOrderId = player.id + '-display-order';
        var playerDisplayOrderElement = document.getElementById(playerDisplayOrderId);
        var playerDisplayOrder = playerDisplayOrderElement.value
        playerDisplayOrderElement.setAttribute('value', parseInt(playerDisplayOrder) + delta);
    }

    function refreshVisibleFriendScores() {
        var playerTypeID = document.getElementById('select-player-type').value;
        var friendID = document.getElementById('select-friend').value;
        var scoreCategories = document.getElementsByClassName('score-category');
        for (var i = 0; i < scoreCategories.length; i++) {
            var scoreCategory = scoreCategories[i];
            var currentPlayerTypeID = scoreCategory.getElementsByClassName('player-type-id')[0].value
            var friendScores = scoreCategory.getElementsByClassName('friend-score');
            for (var j = 0; j < friendScores.length; j++) {
                var friendScore = friendScores[j];
                var currentFriendID = friendScore.getElementsByClassName('friend-id')[0].value;
                if (playerTypeID === currentPlayerTypeID && friendID == currentFriendID) {
                    friendScore.classList.remove('player-hidden');
                } else {
                    friendScore.classList.add('player-hidden');
                }
            }
        }
        // clear the search results
        var playerSearchResultsDiv = document.getElementById('player-search-results')
        playerSearchResultsDiv.innerHTML = '';
    }

    function searchPlayers() {
        setNewPlayerSelected(false);
        var playerTypeID = document.getElementById('select-player-type').value;
        var query = document.getElementById('player-search').value;
        var url = '/admin/search?q=' + query + '&pt=' + playerTypeID;
        var httpRequest = new XMLHttpRequest();
        httpRequest.onload = searchSuccess;
        httpRequest.onerror = searchError;
        httpRequest.open('GET', url, true);
        httpRequest.send();
    }

    function searchSuccess() {
        if (this.status != 200) {
            searchError(new Error(this.responseText));
            return;
        }
        var playerSearchResults = JSON.parse(this.responseText);
        if (playerSearchResults.length == 0) {
            searchError(new Error('No results'));
            return;
        }

        var playerSearchResultsBody = document.createElement('tbody');
        playerSearchResultsBody.setAttribute('id', 'player-search-results-body')
        for (var i = 0; i < playerSearchResults.length; i++) {
            var playerSearchResult = playerSearchResults[i];
            var row = document.createElement('tr');
            row.innerHTML = '<td><input type="radio" name="selectedPlayer" onchange="setNewPlayerSelected(true)"></td>' +
                '<td>' + playerSearchResult.Name + '</td>' +
                '<td>' + playerSearchResult.Details + '</td>' +
                '<input type="hidden" value="' + playerSearchResult.PlayerID + '">';
            playerSearchResultsBody.appendChild(row)
        }
        var playerSearchResultsTable = document.createElement('table')
        playerSearchResultsTable.classList.add('table');
        playerSearchResultsTable.innerHTML = '<thead>' +
            ' <tr>' +
            ' <th>Add?</th>' +
            ' <th>Name</th>' +
            ' <th>Details</th>' +
            ' </tr>' +
            ' </thead>';
        playerSearchResultsTable.appendChild(playerSearchResultsBody);

        var playerSearchResultsDiv = document.getElementById('player-search-results')
        playerSearchResultsDiv.innerHTML = '';
        playerSearchResultsDiv.appendChild(playerSearchResultsTable);
    }

    function searchError(err) {
        var playerSearchResults = document.getElementById('player-search-results');
        playerSearchResults.innerHTML = err;
    }

    function setNewPlayerSelected(isSelected) {
        var addPlayerButton = document.getElementById('modal-add-player-button');
        if (isSelected) {
            addPlayerButton.removeAttribute('disabled');
        } else {
            addPlayerButton.setAttribute('disabled', null);
        }
    }

    refreshVisibleFriendScores(); // initialize visible friend score to first one.
</script>
{{- end -}}
{{ end }}