{{ define "title" }}Nate's MLB pool{{ end }}

{{ define "content" }}
<h2>{{ .Name }}</h2>
{{ range .FriendScores }}
<div class="card">
    <div class="card-body">
        <h3 class="card-title">{{ .Name }}</h3>
        <div class="card-text">
            <ul class="list-group list-group-flush">
                <table class="card-table table">
                    {{- range .PlayerScores }}
                    <tr>
                        <td>{{ .Name }}</td>
                        <td>{{ .Score }}</td>
                    </tr>
                    {{- end }}
                </table>
            </ul>
            <h4 class="list-group-item">Value: {{ .Score }}</h4>
        </div>
    </div>
</div>
{{ end }}
{{ end }}