{{ define "yearsForm" }}
{{- if .Data -}}
{{- with $years := .Data -}}
<fieldset>
    <legend>Years</legend>
    <div id="years">
        {{- range $years }}
        <div class="form-group" id="year-{{.Value}}">
            <input type="radio" name="active-year" id="year-{{.Value}}-active" value="{{.Value}}" {{if .Active}}checked{{end}}>
            <label for="year">{{.Value}}</label>
            <input type="hidden" name="year" id="year-{{.Value}}-value" value="{{.Value}}">
            <button class="btn btn-danger" type="button" title="Remove" onclick="removeYear()">×</button>
        </div>
        {{- end -}}
    </div>
</fieldset>
<button class="btn btn-secondary" type="button" title="Add Year" onclick="addYear()">Add Year</button>
<input id="add-year-input" class="form-control" type="number" min="2000" max="3000", step="1">
{{- end -}}
<script>
    function removeYear() {
        var year = event.target.parentNode;
        year.remove();
        validateYears();
    }

    function addYear() {
        var yearsParent = document.getElementById('years');
        var year = document.getElementById('add-year-input').value;
        var newYear = document.createElement('div');
        var years = yearsParent.children;
        for (var i = 0; i < years.length; i++) {
            var yearNum = years[i].children[2].value;
            if (yearNum === year) {
                return;
            }
        }
        newYear.classList.add('form-group');
        newYear.id = "year-" + newYear;
        newYear.innerHTML = '<input type="radio" name="active-year" id="year-' + year + '-active" value="' + year + '" checked>' +
            ' <label for="year">' + year + '</label>' +
            ' <input type="hidden" name="year" id="year-' + year + '-value" value="' + year + '">' +
            ' <button class="btn btn-danger" type="button" title="Remove" onclick="removeYear()">×</button>';
        yearsParent.appendChild(newYear);
    }

    function setCurrentYear() {
        var now = new Date();
        var currentYear = now.getYear() + 1900; // :-p
        document.getElementById('add-year-input').value = currentYear;
    }
    setCurrentYear();
</script>

{{- end -}}
{{ end }}